:root {
    --font-family-norms: 'TT Norms', sans-serif;
    --font-family-commons: 'TT Commons', sans-serif;
    --indent-m: 10px;
    --width-m: 1120px;
    --font-size-h1: 60px;
    --font-size-h1-mobile: 39px;
    --font-size-h2: 50px;
    --font-size-h3: 34px;
    --font-size-paragraph-s: 16px;
    --font-size-paragraph: 20px;
    --font-size-paragraph-mobile: 18px;
    --line-height-paragraph: 30px;
    --color-alizarin-crimson: #dc2c2c;
    --color-white: #ffffff;
}
