.contentWrapper {
    width: 100%;
}

.contentInner {
    padding-left: var(--indent-m);
    padding-right: var(--indent-m);
    max-width: var(--width-m);
    width: 100%;
    margin: 0 auto;
}

.content {
    padding-left: var(--indent-m);
    padding-right: var(--indent-m);
    margin-left: calc(var(--indent-m) * -1);
    margin-right: calc(var(--indent-m) * -1);
}
